:root{
    --text-color:#d1d5d8;
    --bg-color:#222425;
    --tx-shadow:6px 5px 2px rgb(131, 18, 131);
}
*{
    box-sizing: border-box; margin: 0;
}

.banner{
     color: var(--text-color); text-align: center; margin: auto;width: 100%;
}


body{
    background: var(--bg-color); font-family: 'Open Sans', sans-serif;
}

.esporte{
    text-align: left; width: 40%; height: 110%;
}
.titulo_banner{
    text-shadow: 4px 4px 4px var(--tx-shadow);
}
.titulo_menu{
     text-align: center;
}

li{
    color: white; margin-top: 10px; text-align: left;
}

a{
    color: yellow;
}

#tipos_esportes{
    color:var(--text-color);margin-top: 30px; margin-left: 15px; width: 800px; height: 100px;
}

#rodape{
    text-align: center; margin-top: 22%;
}
h1{
    color:pink;
}
img{
    width: 30%; list-style: none;
}
