:root{
    --text-color:#d1d5d8;
    --bg-color:#222425;
    --tx-shadow:6px 5px 2px purple;
}
label{
    width: 80px;
    display: inline-block;
}

body{
    color: var(--text-color); background: var(--bg-color);
}

h1{
    text-align: center; margin-top: 0%;
}

.item_menu{
    color: var(--text-color);font-size: 130%; text-decoration: none; margin: 10px;
}
.lista_menu{
    list-style:none; display: inline-flex; text-shadow: var(--tx-shadow);
}
nav{
    text-align: right; 
}

article{
    width: 30%; text-align: center; font-size: 120%; margin: 10px;
}

aside{
    text-align: right; font-size: 30px
}

footer{
    text-align: center; margin-top: 23%; text-shadow: var(--tx-shadow); font-size: 120%; color:var(--text-color)
}