*{
    box-sizing: border-box; margin: 0;
}

.banner{
    background: #229999; color: white; text-align: center; margin: auto;width: 100%;
}

.titulo_banner{
    color:#0000bb
}

body{
    color:red; background: #553399; font-family: 'Open Sans', sans-serif;
}

.esporte{
    color:white;background: #9999CC; text-align: left; width: 40%; height: 110%;
}

.titulo_menu{
     text-align: center;
}

li{
    color: white; margin-top: 10px;
}

a{
    color: yellow;
}

#tipos_esportes{
    margin-top: 30px; margin-left: 15px; width: 800px; height: 100px;
}

section{
    margin-bottom: 20px;
}

#rodape{
    color: black; text-align: center; margin-top: 22%;
}